* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #1F2544, #474F7A, #81689D, #FFD0EC);
  background-size: 200% 200%;
  padding: 2rem;
  height: 100vh;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
