* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #f9f9f9;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-image: url("./assets/github-img.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  height: 100vh;
}
